# IntelliJ IDEA
.idea/
*.iml
*.iws

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Java
*.class

# Logs
logs/
*.log
*.out

# Environment variable file
notification-service/.env.local-cloud